HDL/GATE/
HDL/PLACED/
HDL/RTL/pads.cr.mti
HDL/RTL/pads.mpf
HDL/RTL/transcript
HDL/RTL/work/
design_compiler/DDC/
design_compiler/DESIGN_LIBS/
design_compiler/HDL/GATE/
design_compiler/RPT/
design_compiler/SDC/
design_compiler/SDF/
design_compiler/command.log
design_compiler/default.svf
design_compiler/filenames.log
innovus/CONF/
innovus/DBS/
innovus/GDS/
innovus/RPT/
innovus/SDF/
innovus/ccopt.spec
innovus/innovus.cmd
innovus/innovus.cmd1
innovus/innovus.cmd2
innovus/innovus.log
innovus/innovus.log1
innovus/innovus.log2
innovus/innovus.logv
innovus/innovus.logv1
innovus/innovus.logv2
innovus/mips.antenna.lef
modelsim/
*.log
